/* Sidebar.css */
.sidebar {
  display: flex;
  min-height: 100vh;
}

/* cropgen tilet and logo style  */

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  padding-left: 3rem;
  cursor: pointer;
}

.company-logo {
  margin-right: 2px;
  height: 40px;
  font-size: 1.4rem;
}

.title-text {
  font-size: 1.2rem;
  color: #f8f8f8;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px !important;
  z-index: 1030;
  border-right: 1px solid #ddd;
  background-color: #344e41 !important;
  overflow-y: auto;
}
/* card profile css style */
.card {
  margin: 20px auto;
  background-color: #5a7c6b !important;
  cursor: pointer;
}
.profile-image {
  width: 80px !important;
  height: 80px;
  gap: 0px;
  margin: auto;
  opacity: 0px;
}
.active {
  padding: 2px 0 3px 5px;
  font-size: 0.9rem !important;
  font-weight: 200;
  line-height: 18.15px;
  text-align: left;
  color: #f8f8f8 !important;
}
.profile-user-name {
  font-size: 25px;
  font-weight: 600;
  line-height: 30.26px;
  color: #f8f8f8 !important;
}
.profile-user-email {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 18.15px;
  color: #d9d9d9 !important;
}

/* sidebar nav style */

.sidebar-nav img {
  width: 1.3rem;
  height: 1.3rem;
  top: 0px;
  left: -0px;
  margin-right: 0.9rem;
  gap: 0px;
  opacity: 0px;
}
nav {
  padding: 15px;
  width: Hug (237px) px;
  height: Hug (625px) px;
  left: 2rem !important;
  gap: 29px;
  opacity: 0px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #f5f5f5 !important;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
}

/* logout feature style */

.offcanvas-footer {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.logout-icon {
  width: 20px;
  height: 20px;
}
